
.book {
    width: 1400px;
  display: flex;
    justify-content: end;
    perspective: 1400px;
    perspective-origin: 50% 50%;
}

.book-container {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.flip-book {
  width: 700px;
  height: 650px;
  position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(25deg);
}

.flip {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
    padding: 10px;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: .5s;
    border: 1px solid black;
  color: green;
    box-sizing: border-box;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #F8F0E9;
  box-sizing: border-box;
  padding: 10px;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: #F8F0E9;
    box-sizing: border-box;
    padding: 10px;
}

.next-btn {
  position: absolute;
  bottom: 13px;
  right: 13px;
  cursor: pointer;
  color: #000;
}

.back-btn {
  position: absolute;
  bottom: 13px;
  right: 13px;
  cursor: pointer;
  color: #000;
}
#p1 {
  z-index: 3;
}
#p2 {
  z-index: 2;
}
#p3 {
  z-index: 1;
}
#c1:checked ~ .flip-book #p1 {
  transform: rotateY(-180deg);
  z-index: 1;
}
#c2:checked ~ .flip-book #p2 {
  transform: rotateY(-180deg);
  z-index: 2;
}
#c3:checked ~ .flip-book #p3 {
  transform: rotateY(-180deg);
  z-index: 3;
}