.header-main {
    max-height: 200px;
    width: 100%; /* or fixed width */
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.header-main img {
  padding: 3px;
  height: 100px;  /* fills parent's height */
  width: auto;  /* scale width to keep aspect ratio */
  display: block; /* remove inline space */
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;
}

.navbar a {
    padding: 3px;
    text-wrap: nowrap;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.header-decorator-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3px;
    border-bottom: 1px solid black;
}

.header-decorator-bar h1 {
    width: 100%;
    text-align: center;
}