<div hx-get="/admin/question_collection_editor/{{ question_collection.id }}" hx-target="#question_collection_editor-root" hx-trigger="click" class="browser_element">
    <p>{{ question_collection.id }} - {{ question_collection.title }}</p>
</div>