html * {
  font-family: Nunito, sans-serif;
}

button {
    border: 1px solid black;
    background: white;
}

button:hover {
    background: lightyellow;
}

button:active {
    background: antiquewhite;
}

.button {
    border: 1px solid black;
    background: white;
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 1px 4px 1px 4px;
}

.button:hover {
    background: lightyellow;
}

.button:active {
    background: antiquewhite;
}

.button_inline {
    border-top: none;
    border-bottom: none;
}

input {
    border: 1px solid black;
    border-radius: 0;
}

.border {
    border: 1px solid black;
}