<div class="flip">
    <div class="front">
        <div class="box-v" style="height: 100%">
            <div class="box-v" style="height:100%; width: 100%; align-items: center; gap: 30px;">
            <p hx-get="/explorer/partial/list" hx-target="this" hx-swap="outerHTML" hx-trigger="load">Unable to load Entry list.</p>
            <div class="spacer-v"></div>
            <button  hx-get="/explorer/partial/start" hx-target="#page-root" style="width: 100%">Start</button>
            </div>
        </div>
    </div>
</div>