<form>
    <h3>This Entry is protected by a secret</h3>
    <h4>Enter the secret in order to edit the Entry</h4>
    <div class="box-h">
        <label for="secret-input">Secret:</label>
        <input id="secret-input" name="secret" type="text">
        <button hx-post="/entry/{{ entry.id }}/request_editor" hx-target="#entry_editor-root">
            Submit
        </button>
    </div>
</form>