<div class="browser_frame">
    <div class="app_widget-toolbar">
        Question Browser
        <div class="spacer-h"></div>
        <button hx-post="/api/crud/question/from_form">+ Add question</button>
        <button hx-get="/tests/admin/question_browser" hx-target="#question_browser-root">Refresh</button>
    </div>
    <div class="browser-content_root">
        {% for question in questions %}
            {% include "apps/admin/question_manager/question_browser_element.j2" %}
        {% endfor %}
    </div>
</div>