<div class="flip" id="p{{ page_index }}">
  <div class="back" id="p{{ page_index }}b">
    <h2>Page 1 Back</h2>
      <p>You can write stuff on the back of a page!</p>
    <label for="c1" class="back-btn">Before</label>
  </div>
  <div class="front" id="p{{ page_index }}f">
    <h2>Book Demo</h2>
    <label for="c1" class="next-btn">NEXT</label>
  </div>
</div>