<div class="box-v entry-container">
    <div class="entry-element entry-answer">
        <div class="entry-answer-question">{{ entry.answers[0].question.title }}</div>
        <div class="entry-answer-value">{{ entry.answers[0].string_value }}</div>
    </div>
    <div class="entry-element entry-answer">
        <div class="entry-answer-question">{{ entry.answers[0].question.title }}</div>
        <div class="entry-answer-value">{{ entry.answers[0].string_value }}</div>
    </div>
    <div class="entry-element entry-answer">
        <div class="entry-answer-question">{{ entry.answers[0].question.title }}</div>
        <div class="entry-answer-value">{{ entry.answers[0].string_value }}</div>
    </div>
    <div class="entry-element entry-answer">
        <div class="entry-answer-question">{{ entry.answers[0].question.title }}</div>
        <div class="entry-answer-value">{{ entry.answers[0].string_value }}</div>
    </div>
    <div class="entry-element entry-answer">
        <div class="entry-answer-question">{{ entry.answers[0].question.title }}</div>
        <div class="entry-answer-value">{{ entry.answers[0].string_value }}</div>
    </div>
<button hx-get="/book/entry/{{ entry.id }}/next" hx-target="#page-root">Next</button>
</div>