{% if entry_id > 0 %}
{% set offset = -1 %}
{% include "book/entry_page.j2" %}
{% endif %}
{% set offset = 0 %}
{% include "book/entry_page.j2" %}
{% set offset = 1 %}
{% include "book/entry_page.j2" %}
