<div class="flip" data-page_id="{{ page_index }}" id="p{{ page_index }}">
  <div class="back" id="p{{ page_index }}b">
    {% include "book/entry_page_back.j2" %}
  </div>
  <div class="front" id="p{{ page_index }}f">
    {% include "book/entry_page_front.j2" %}
  </div>
</div>