{% extends "base.j2" %}


{% block main %}
<link rel="stylesheet" href="/static/style/book.css">
<div class="book-container">
<div class="book">
         <!-- For Next/Prev Controls -->
  <input type="checkbox" id="c1">
  <input type="checkbox" id="c2">
  <input type="checkbox" id="c3">
  <!-- Pages -->
  <div class="flip-book">
    <!-- Page 1 -->
    <div class="flip" id="p1">
      <div class="back" id="p1b">
        <h2>Page 1 Back</h2>
          <p>You can write stuff on the back of a page!</p>
        <label for="c1" class="back-btn">Before</label>
      </div>
      <div class="front" id="p1f">
        <h2>Book Demo</h2>
        <label for="c1" class="next-btn">NEXT</label>
      </div>
    </div>
    <!-- Page 2 -->
    <div class="flip" id="p2">
      <div class="back">
        <img src="2.jpg" alt="image">
        <label for="c2" class="back-btn">Before</label>
      </div>
      <div class="front">
        <h2>Page 2</h2>
        <label for="c2" class="next-btn">NEXT</label>
      </div>
    </div>
    <!-- Page 3 -->
    <div class="flip" id="p3">
      <div class="back">
        <label for="c3" class="back-btn">Before</label>
      </div>
      <div class="front">
        <h2>Page 3</h2>
        <label for="c3" class="next-btn">NEXT</label>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}